@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap');

.result {
  height: 80px;
  background-color: #bbb;
  width: 100%;
  margin-top: 5px;
  
}

.result p {
  font-size: 40px;
  margin: 5px;
  font-family: 'Mali', cursive;
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px;
  min-height: 60px;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
  border-radius: 3px;
  padding:5px;
}

button {
  width: 22%;
  height: 60px;
  font-size: 30px;
}

#b-element{
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-family: 'Mali', cursive;
}

#b-element:active {
  color: #fff;
  background-color: black;
}

.draw {
  display: block;
  background-color: #bbb;
  border-radius: 3px;
  padding:5px;
}

#b-element-draw{
  width: 95%;
  height: 60px;
  font-size: 30px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-family: 'Mali', cursive;
}

